html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetipe');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetipe');
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf') format('truetipe');
    font-weight: 200;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.ttf') format('truetipe');
    font-weight: 100;
}

@font-face {
    font-family: "fico";
    src: url("../fonts/fico.eot");
    src: url("../fonts/fico.eot?#iefix") format("embedded-opentype"),
        url("../fonts/fico.woff") format("woff"),
        url("../fonts/fico.ttf") format("truetype"),
        url("../fonts/fico.svg#fico") format("svg");
}

html,
body,
p,
h1,
h2,
h3,
h4,
h6,
section,
label,
* {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 1.46vw;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

input,
textarea,
select {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: 0;
}

a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

p {
    font-size: .7rem;
    font-weight: 200;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin: 0 0 0 1rem;
}

h1 {
    font-size: 4rem;
    font-weight: 100;
    color: white;
    margin: 0 0 .5rem;
}

.block01 {

    background: url(/images/Layer5.jpg) no-repeat top center / cover;
    height: 110vh;
    position: relative;
    overflow: hidden;

}

.block01:after {
    content: '';
    position: absolute;
    width: 130%;
    height: 11.85rem;
    transform: rotate(-5deg);
    background: #fff;
    bottom: -4rem;
    left: 0;
}

.block__header {
    padding: 3.5rem 0 0;
}

.block01__row {
    overflow: hidden;
    margin: 0 -.75rem;
}

.block01__row>div {
    padding: 0 .75rem;
    float: left;
    min-height: 1px;
}

.block01__col1 {
    width: 25%;
}

.block01__col2 {
    width: 50%;
}

.foonav {
    padding: 1.1rem 0 0;
    text-align: right;
}

.text__nav {
    text-align: right;
}

.foonav li {
    display: inline-block;
}

.foonav li+li {
    margin-left: .65rem;
}

.foonav a {
    font-weight: 100;
    font-size: .75rem;
    text-transform: uppercase;
    color: #ffffff;
    transition: .2s;
}

.foonav a:hover {
    color: #90d23d;
}

.block01__col3 {
    width: 25%;
}

.city {
    padding: 1.1rem 0 0;
}

.city span {
    color: white;
    font-size: .75rem;
    font-weight: 100;
}

.city a {
    text-decoration: underline;
}

.head__banner {
    margin: 7.5rem 0 10rem;
}

.head__banner h2 {
    color: white;
    font-weight: 400;
    font-size: 2.5rem;
}

.text__centre {
    text-align: center;
}

.welcome {
    width: 25.75rem;
    padding: 1.5rem;
    background: white;
    position: absolute;
    right: 2rem;
    top: -13rem;
    box-shadow: 0 1px 2px 0px black;
}

.block02__text1 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.welcome p {
    margin-bottom: 1.1rem;
}

.advantage {
    width: 33.33%;
    align-self: stretch;
    vertical-align: top;
}

.block02__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.block02 {
    position: relative;

}

.block02__pluses {
    padding-top: .25rem;

}

.block02__head {
    margin-bottom: 7rem;
}

.block02__image-wrap {
    position: relative;
    margin-bottom: .75rem;
}

.ad-text__centre {
    align-self: center;
}

.block02__info-wrap {
    width: 51.5rem;
    margin: 0 auto;
    
}

.advantage h3 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.container>h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.movie-list {
    padding: 4rem 0 1.95rem;

}

.container {
    max-width: 53rem;
    margin: 0 auto;
}

.button2 {
    display: inline-block;
    background: #90d23d;
    color: #ffffff;
    padding: .75rem 1.5rem;
    border-radius: .6rem;
    font-size: .9rem;
    transition: .2s;
    border: 2px solid #90d23d;
    cursor: pointer;
    margin-top: 2rem;
}


.movie-list__table {
    width: 100%;
    border-collapse: collapse;
    border-radius: .75rem;
    overflow: hidden;
    font-family: "Roboto";
    vertical-align: top;

}

.movie-table__header {
    font-size: 2.5rem;
    font-family: "Roboto";
    color: rgb(37, 37, 37);
    font-weight: bold;
    margin: 0 0 3.85rem;
    text-align: center
}

.movie-list__table th {
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    background: #a3cc40;
    padding: 1rem 1.5rem;
    text-align: center;


}

.movie-list__table td {
    font-size: 1.05rem;
    color: #fff;

}

.movie-list__table1 {
    background-color: rgb(55, 55, 55);
}

.movie-list__table2 {
    background-color: rgb(75, 77, 79);
}

.movie-list__center {
    text-align: center;
    padding: 1.3rem 0.65rem 1.3rem 0.65rem;
    position: relative;
}

.movie-list__left {
    text-align: left;
    padding: 0px 0px 0px 3.65rem;
    position: relative;
}

.under__table {
    padding: 0 5rem;
}


#triangle-up:after {
    top: 0.5rem;
    z-index: 1;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid white;
    position: absolute;

}

#triangle-down:after {
    width: 0;
    height: 0;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-bottom: 1rem solid white;
    position: absolute;

}

.block03 {
    background-position: relative;
    background: url(/images/Layer6.png) no-repeat top center / cover;
    height: 110vh;
    position: relative;
    overflow: hidden;
    margin-top: 7.75rem;
    margin-bottom: 4.85rem;
}

.block03:before {

    content: '';
    position: absolute;
    width: 130%;
    height: 8.6rem;
    transform: rotate(-5deg);
    background: #fff;
    top: -4rem;
    right: 0;
}

.block03:after {

    content: '';
    position: absolute;
    width: 130%;
    height: 8.6rem;
    transform: rotate(-5deg);
    background: #fff;
    bottom: -4rem;
    left: 0;
}

.gift {
    text-align: right;
    padding: .5rem 0 .5rem 18.4rem;
    margin-top: 6.6rem;
    margin-bottom: 4.85rem;



}

.gift h2 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 3.45rem;
    color: white;
}



.gift p {
    margin-bottom: 1.1rem;
    color: white;
}

.gift-boxing img {
    position: absolute;
    left: 7rem;
    top: 1px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 10.5px 18.187px 12px 0px rgba(35, 31, 32, 0.55);
    z-index: 99;
}

.film__head {
    font-size: 2.5rem;
    font-family: "Roboto";
    color: rgb(37, 37, 37);
    font-weight: bold;
}

.film__text {
    margin: 3rem 19.5rem 0 0;
    
}

.movie-grid__flex {
    display: grid;
    margin: 0 0;
  
}

.movie-grid__item1,
.movie-grid__item2,
.movie-grid__item3 {
    padding: .9rem;
    position: relative;
}

.movie-grid__flex>.movie-grid__item3 {
    grid-row: 2;
}


.movie-grid__inner1 {
    position: relative;
    overflow: hidden;
}

.movie-grid__social {
    position: absolute;
    bottom: .75rem;
    left: 1rem;
}

.movie-grid__poster img {
    display: block;
}

.movie-grid__description {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    bottom: -100%;
    background: rgba(144, 210, 61, .8);
    border-radius: .55rem;
    padding: 1.15rem;
    display: grid;
    align-items: stretch;
    box-sizing: border-box;
    transition: .2s;
}

.movie-grid__item1:hover .movie-grid__description {
    bottom: 0;
}

.movie-grid__item2:hover .movie-grid__description {
    bottom: 0;
}

.movie-grid__item3:hover .movie-grid__description {
    bottom: 0;
}

.movie-grid__text1 {
    font-size: 1.75rem;
    font-weight: 900;
    color: #ffffff;
    margin: 0 0 .5rem;
}

.movie-grid__hr {
    width: 4rem;
    height: .4rem;
    border: 0;
    box-shadow: none;
    margin: 0 0 .7rem;
    background: #fff;
}

.movie-grid__text2 {
    font-size: .9rem;
    color: #ffffff;
    flex: 1;
}

.movie-grid__link1+.movie-grid__link1 {
    margin-left: .3rem;
}

.movie-grid__svg {
    fill: #fff;
    width: 1.7rem;
    height: 1.7rem;
    -webkit-filter: drop-shadow(0px 1px 1px 0px black);
    filter: drop-shadow(0px 1px 1px 0px black);
    transition: .2s;

}



.movie-grid__svg:hover {
    filter: url(#Filter_1);
}

.movie-grid__svg:hover path {
    fill: turquoise;
    -webkit-filter: drop-shadow(0px 0px 0px 0px black);
    filter: drop-shadow(0px 0px 0px 0px black);
}


.form__mod {
    max-width: 22.5rem;
    padding: 1.25rem;
}

.form__indent {
    margin: 0 0 1rem;
}

.select__form {
    -webkit-appearance: none;
    background: url(../images/down-arrow.svg) 96% center / 5% no-repeat #fff;
}

.text__form {
    font-size: .9rem;
    color: #6c6c6c;
    padding: .75rem .55rem;
    border: 1px solid #bebebe;
    border-radius: .25rem;
    width: 100%;
}

.radio__form {
    margin: 0 0 .5rem;
}

.radio__form+label {
    font-size: .8rem;
    padding-left: 1.15rem;
    position: relative;
}

.textarea__form {
    height: 12.5rem;
    resize: none;
}

.checkbox__form {
    display: none;
}

.checkbox__form+label {
    font-size: .8rem;
    padding-left: 1.15rem;
    position: relative;
}

.checkbox__form+label i {
    position: absolute;
    display: none;
    font-size: .6rem;
    left: 0.1rem;
    top: 0.15rem;
    color: #90d23d
}

.checkbox__form+label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: .7rem;
    height: .7rem;
    border: 1px solid black;
}

.checkbox__form:checked+label i {
    display: block;
}

.icon {
    display: inline-block;
}

.icon-check:before {
    content: "\f10e";
}

.icon:before {
    font-family: fico;
    font-weight: normal !important;
    font-style: normal !important;
    text-transform: none !important;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}


.form__file__indent {
    position: relative;
}

.file__form {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    z-index: 1;
    box-shadow: none;
    border: 0;
}

.file__form+label {
    font-size: 0.9rem;
    color: #90d23d;
    position: relative;
    border: 1px solid #90d23d;
    padding: .75rem;
    z-index: 2;
    background: #fff;
    width: 100%;
    display: block;
    cursor: pointer;
    border-radius: .25rem;
}

footer {
    background-color: #90d23d;
    height: 20vh;

}

.container__foot {
    width: 19.2rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.foot {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin-top: 15px;
}

.container__text {
    color: white;
    text-align: center;
    margin-top: 15px;
    top: 3rem;

}

.container__text p {
    font-size: .9rem;
}

.foot__svg {
    width: 2.25rem;
    order: 1;
    transform: scale(1, 1);
    flex-basis: content;
}


#modalPresent {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1000;
    padding-top: 10rem;
}

#modalPresent .modal {
    background-color: white;
    margin: 0 auto;
    width: 30rem;
    border-radius: 1rem;
    position: relative;
}
#closeModalPresent {
    position: absolute;
    right: 1rem;
    font-size: 30px;
    top: 1rem;
    cursor: pointer;
}